*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html{
    --white:#fff3e0;
    --grey: #ffe0b2;
    --brown: #6C4C40;
    --blue: #6C4C40;
    --light-blue: var(--grey);
    --black: #373434;
  
    /* Polaroid colors */
    --pink: #E272A1;
    --orange: #FF7143;
    --mustard: #FDCA28;
    --yellow: #FFEC3C;
    --green: #89C447;
  
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5% /* 10px */;
    font-family: 'Montserrat',sans-serif;
    color: var(--brown);
  }
  
  body{
    background-color: var(--grey);
  }
  
  nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 20rem;
    margin-left: 15rem;
    margin-top: 3.1rem;
    font-size: 1.8rem;
    font-weight:500;
  }
  
  nav a, nav a:visited{
    color: var(--brown);
  }
  
  nav a:hover{
    color: var(--blue);
  }
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content{
    margin-top: 2.8rem;
    display: inline-flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15rem;
  }
  
  .contentUser{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  
  .boxWhite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
    max-width: 43.5rem;
    height: 43.5rem;
    background-color: var(--white);
    border-radius: 4.0rem;
    box-shadow: -3px 3px 0px #E272A1, -6px 6px 0px #FF7143, -9px 9px 0px #FDCA28, -12px 12px 0px #FFEC3C, -15px 15px 0px #89C447, -18px 18px 0px #19B6FE;
  }
  
  .benefits{
    display: flex;
    flex-direction: row;
    margin: 3.2rem 3.1rem 0rem 3.1rem;
    justify-content: space-between;
    align-items:center;
  }
  
  .benefits h1{
    font-size: 3.6rem;
    font-family: 'Montserrat', serif;
    line-height: 3.6rem;
    font-weight: 600;
    /* width: 18rem; */
    /* margin-right: 2.8rem; */
  }
  
  
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form p{
    margin-top: 3.0rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
  }
  
  form input{
    width: 37.9rem;
    height: 3.8rem;
    margin-top: 2.4rem;
    padding: 1rem;
    font-family: 'Montserrat', monospace;
    border-radius: 1.0rem;
    border:#6C4C40  solid 0.1rem;
  }
  
  form input::placeholder{
    font-family: 'Montserrat', monospace;
    font-size: 1.4rem;
    color: var(--brown);
  }
  
  form input:hover, form input:focus{
    outline: none;
  }
  
  form button {
    background-color: var(--blue);
    margin: 3.0rem auto;
    color:white;
  }
  
  form button {
    font-family: 'Montserrat', monospace;
    font-size: 1.8rem;
    width: 20rem;
    height: 4.4rem;
    border-radius: 1.0rem;
    padding: 1rem;
    cursor: pointer;
  }
  
  .polaroidCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35.5rem;
    height: 43.3rem;
    background-color: var(--white);
    box-shadow: 24px 12px 50px rgba(0, 0, 0, 0.25);
  
  }
  
  
  form button:hover {
    opacity: 70%;
  } 
  
  
   
  
  .menu button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6C4C40;
    border-radius: 15rem;
    width: 7rem;
    height: 5.5rem;
    transition: ease-in-out .5s;
    color: white;
  }
  
  .menu button:hover {
    padding: 1rem;
    justify-content: space-around;
    width: 19rem;
    /* transition:  .5s; */
    cursor: pointer;
  }

  
  .polaroidAnimation{
    animation: .5s 1s alternate polaroidAnimation;
  }
  
  @keyframes polaroidAnimation {
    0% {
          transform: translateY(-100%);
      }
      50%{
          transform: translateY(20%);
      }
  
      80%{
          transform: translateY(10%);
      }
          
      100% {
          transform: translateY(0%);
      }		
  }
  
  .backgroudCard{
    background-color: var(--white);
  }
  
  .imgCard{
    margin-top: 2.7rem;
    background-color: var(--black);
    width: 30.6rem;
    height: 30.6rem;
  }
  
  .polaroidImage{
    width: 30.6rem;
    height: 30.6rem;
    object-fit: cover;
  }
  
  .polaroidContent{
    display: flex;
    margin-top: 1.0rem;
    max-width: 40.2rem;
    flex-direction: row;
    justify-content: space-between;
  
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
  }
  
  .polaroidSubtitle{
    width: 70%;
    word-wrap: break-word;
  }
  
  .polaroidDate{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: right;
    color: var(--black);
  }
  
  .albumBox {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .album{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center; 
  };
